<div class="container mt-18">
  <h1 class="font-bold text-4xl flex flex-row items-center">
    <%= link_to events_path, class: "flex items-center text-blue-600 hover:text-blue-800" do %>
      <i class="nf nf-fa-arrow_left mr-2 text-xl self-center"></i>
    <% end %>
    <%= @event.title %>
  </h1>

  <% if notice %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
      <%= alert %>
    </div>
  <% end %>

  <div class="mb-4">
    <p class="text-gray-600">
      Total Invitations:
      <%= @event.invitations.count %>
      | Accepted Invitations:
      <%= @event.invitations.where(status: "accepted").count %>
    </p>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Phone</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @event.invitations.sort_by(&:status).each do |invitation| %>
          <tr class="bg-white border-b hover:bg-gray-50">
            <td class="px-6 "><%= invitation.name %></td>
            <td class="px-6 "><%= invitation.email %></td>
            <td class="px-6 "><%= invitation.phone %></td>
            <td class="px-6 ">
              <% if invitation.status == "accepted" %>
                <span class="flex items-center">
                  <i class="nf nf-fa-check_circle text-green-500 mr-1.5"></i>
                  <%= invitation.status %>
                </span>
              <% elsif invitation.status == "declined" %>
                <span class="flex items-center">
                  <i class="nf nf-fa-times_circle text-red-500 mr-1.5"></i>
                  <%= invitation.status %>
                </span>
              <% else %>
                <span class="flex items-center">
                  <i class="nf nf-fa-clock_o text-yellow-500 mr-1.5"></i>
                  <%= invitation.status %>
                </span>
              <% end %>
            </td>
            <td class="px-6 flex space-x-2">
              <%= link_to edit_invitation_path(invitation), class: "font-medium text-blue-600 hover:underline flex items-center" do %>
                <i class="nf nf-fa-edit mr-1"></i>
              <% end %>
              <%= button_to invitation_path(invitation),
              method: :delete,
              class: "font-medium text-red-600 hover:underline flex items-center",
              form: {
                data: {
                  turbo_confirm: "Are you sure?",
                },
              } do %>
                <i class="nf nf-fa-trash mr-1"></i>
              <% end %>
              <%= link_to rsvp_confirm_path(hash_id: invitation.hash_id), target: "_blank", class: "font-medium text-green-600 hover:underline flex items-center" do %>
                <i class="nf nf-fa-link mr-1"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr class="bg-gray-50 mb-6">
          <%= form_with(model: Invitation.new, url: invitations_path, local: true, class: "w-full") do |f| %>
            <%= f.hidden_field :event_id, value: @event.id %>
            <td class="px-6 py-3">
              <%= f.text_field :name,
                           class:
                             "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500",
                           placeholder: "Name" %>
            </td>
            <td class="px-6 py-3">
              <%= f.email_field :email,
                            class:
                              "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500",
                            placeholder: "Email" %>
            </td>
            <td class="px-6 py-3">
              <%= f.telephone_field :phone,
                                class:
                                  "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500",
                                placeholder: "Phone" %>
            </td>
            <td class="px-6 py-3">
              <%= f.text_field :status,
                           value: "pending",
                           disabled: true,
                           class:
                             "w-full rounded-md border-gray-300 bg-gray-100 text-gray-400 shadow-sm" %>
            </td>
            <td class="px-6 py-3">
              <%= f.submit "Add",
                       class:
                         "w-full rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
